@page
@using System.Net.Http.Headers
@using System.Net.Http.Json
@using Petrello.Extensions
@model IndexModel
@{
	HttpClient client = new();
	client.BaseAddress = new Uri("https://localhost:7060"); //adress to API
	client.DefaultRequestHeaders.Accept.Clear();
	client.DefaultRequestHeaders.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json")); //result in json format

	//retrieve data from projects table
	HttpResponseMessage response1 = await client.GetAsync("api/project");
	response1.EnsureSuccessStatusCode();
	var projects = await response1.Content.ReadFromJsonAsync<IEnumerable<DataTransfer.ProjectDto>>();

	//retrieve data from tasks table
	HttpResponseMessage response2 = await client.GetAsync("api/task");
	response2.EnsureSuccessStatusCode();
	var tasks = await response2.Content.ReadFromJsonAsync<IEnumerable<DataTransfer.TaskDto>>();

	ViewData["Title"] = "Home page";
}

<div class="text-center">
</div>

<a asp-page="/Projects/NewP" type="button" class="btn btn-outline-secondary">Add new Project</a>
<div class="mt-5">
	@foreach (var project in projects)
	{
		<h1 class="display-4">@project.ProjectName</h1>
		<h5 class="text-muted">@project.StartDate.ToString("dd MMMM yyyy") — @project.CompletionDate.ToString("dd MMMM yyyy")</h5>
		<div class="row g-0">
			@foreach (var task in tasks)
			{
				@if (project.ProjectId == task.ProjId)
				{
					<div class="card" style="width: 19.1rem; margin: 0.5rem;">
						<div class="card-body">
							<h5 class="card-title">@task.TaskName</h5>

							<p class="card-text">@task.Description</p>
							<span class="@task.Status.ToCssClass()">@task.Status</span>
							<p></p>
							<p class="text-muted">Priority: @task.Priority</p>
						</div>
						<div class="card-footer text-muted">
							<a asp-page="/Tasks/EditT" asp-route-id="@task.TaskId" class="link-dark">Edit</a>
							<a asp-page="/Tasks/DeleteT" asp-route-id="@task.TaskId" class="link-dark">Delete</a>
						</div>
					</div>
				}
			}
		</div>
		<p></p>
		<a asp-page="/Tasks/NewT" asp-route-id="@project.ProjectId" type="button" class="btn btn-outline-secondary">Add new Task</a>
		<p></p>
	}
</div>
